# Homework 3 - Mingxuan Wang

Github Username: Michelle-MingxuanWang  
Github Repository: https://github.com/Michelle-MingxuanWang/Michelle-MingxuanWang.github.io  
Blog: https://michelle-mingxuanwang.github.io

# Install and import packages

In [61]:
pip install plotly

Requirement already satisfied: plotly in /opt/conda/lib/python3.7/site-packages (4.9.0)
Requirement already satisfied: six in /opt/conda/lib/python3.7/site-packages (from plotly) (1.15.0)
Requirement already satisfied: retrying>=1.3.3 in /opt/conda/lib/python3.7/site-packages (from plotly) (1.3.3)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd
import plotly.express as px
import ipywidgets as widgets
%matplotlib inline

In [2]:
malaria_deaths_age=pd.read_csv("https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2018/2018-11-13/malaria_deaths_age.csv")
malaria_deaths_age

       Unnamed: 0       entity code  year age_group      deaths
0               1  Afghanistan  AFG  1990   Under 5  184.606435
1               2  Afghanistan  AFG  1991   Under 5  191.658193
2               3  Afghanistan  AFG  1992   Under 5  197.140197
3               4  Afghanistan  AFG  1993   Under 5  207.357753
4               5  Afghanistan  AFG  1994   Under 5  226.209363
...           ...          ...  ...   ...       ...         ...
30775       30776     Zimbabwe  ZWE  2012     50-69  103.185111
30776       30777     Zimbabwe  ZWE  2013     50-69  100.113293
30777       30778     Zimbabwe  ZWE  2014     50-69   99.013890
30778       30779     Zimbabwe  ZWE  2015     50-69   98.091738
30779       30780     Zimbabwe  ZWE  2016     50-69   97.402058

[30780 rows x 6 columns]

# Plot 1: Deaths over the Year of Each Country

In [3]:
malaria_deaths_age_groupby_code = malaria_deaths_age.groupby(['code','year'],as_index=False).sum()

year=widgets.Play(
    value=1990,
    min=1990,
    max=2016,
    step=1,
    interval=500,
    description='Year:',
    disabled=False
)

slider = widgets.IntSlider(
    value=1990,
    min=1990,
    max=2016,
    step=1,
    description='Year:',
    disabled=False,
    continuous_update=False,
    orientation='horizontal',
    readout=True,
    readout_format='d'
)
widgets.jslink((year, 'value'), (slider, 'value'))


def f(year):
    fig = px.choropleth(malaria_deaths_age_groupby_code[malaria_deaths_age_groupby_code['year']==year], locations='code', color='deaths',
                               color_continuous_scale="reds",
                               range_color=(0, 50000),
                               labels={'deaths':'deaths'}
                              )
    fig.update_layout(margin={"r":0,"t":0,"l":0,"b":0})
    fig.show()
    
out = widgets.interactive_output(f, {'year': year})

widgets.VBox([widgets.HBox([year, slider]), out])

VBox(children=(HBox(children=(Play(value=1990, description='Year:', interval=500, max=2016, min=1990), IntSlid…

# Plot 2: Deaths over the Years for Each Country in Each Age Group

In [4]:
entity = widgets.Dropdown(
    options=set(malaria_deaths_age['entity']),
    value='Ethiopia',
    description='Entity:',
    disabled=False,
)

def f(entity):
    fig = px.line(malaria_deaths_age[malaria_deaths_age['entity']==entity], x="year", y="deaths",color="age_group")
    fig.show()

out = widgets.interactive_output(f, {'entity': entity})

widgets.VBox([widgets.VBox([entity]), out])

VBox(children=(VBox(children=(Dropdown(description='Entity:', index=19, options=('Equatorial Guinea', 'Sweden'…

# Plot 3: Pie Chart of Deaths for Age Groups of Each Country

In [5]:
malaria_deaths_age_groupby_entity = malaria_deaths_age.groupby(['entity','age_group'],as_index=False).sum()

entity = widgets.Dropdown(
    options=set(malaria_deaths_age_groupby_entity['entity']),
    value='Ethiopia',
    description='Entity:',
    disabled=False,
)

def f(entity):
    fig = px.pie(malaria_deaths_age_groupby_entity[malaria_deaths_age_groupby_entity['entity']==entity], values="deaths", names="age_group",color_discrete_sequence=px.colors.qualitative.Set3,title="A")
    fig.show()

    
out = widgets.interactive_output(f, {'entity': entity})

widgets.VBox([widgets.VBox([entity]), out])

VBox(children=(VBox(children=(Dropdown(description='Entity:', index=19, options=('Equatorial Guinea', 'Sweden'…